<a href="{{ path('helloWithName', {'name': 'Aurélie'}) }}">Hello Aurélie</a>
<a href="{{ path('helloWithName', {'name': 'lea'}) }}">Hello Léa</a>
<a href="{{ path('helloWithName', {'name': 'pierrick'}) }}">Hello Pierrick</a>
<a href="{{ path('helloWithName', {'name': 'pierre'}) }}">Hello Pierre</a>
